<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Quiz App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>ExamFilter</display-name>
    <filter-name>ExamFilter</filter-name>
    <filter-class>com.exam.filter.ExamFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExamFilter</filter-name>
    <url-pattern>/SubmitServlet</url-pattern>
    <url-pattern>/ExamFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ExamServlet</display-name>
    <servlet-name>ExamServlet</servlet-name>
    <servlet-class>com.exam.servlet.ExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamServlet</servlet-name>
    <url-pattern>/ExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitServlet</display-name>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>com.exam.servlet.SubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/SubmitServlet</url-pattern>
  </servlet-mapping>
</web-app>